:root {
    /* color */
    --color-black: #3f454d;
    --color-white: #ffffff;
    --color-blue: #3b88c3;
    --color-yellow: #fbbe28;
    --color-pink: #fd7f84;
    --color-light-grey: #dfdfdf;

    /*size*/
    --base-space: 8px;
    --size-btn: 60px;
    --size-img: 60px;
    --size-font: 18px;
    --size-border: 4px;
    --size-thumbnail: 40px;

    /* animation */
    --animation-duration: 300ms;
}


* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: var(--color-black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    width: var(--size-img);
    height: var(--size-img);
    margin-bottom: var(--base-space);
    cursor: pointer;
    transition: transform var(--animation-duration) ease;
}

.btns {
    display: flex;
    justify-content: center;

}

.btn {
    background-color: transparent;
    border-style: none;
    margin-right: var(--base-space);
    cursor: pointer;
    transition: transform var(--animation-duration) ease;
    align-items: center;
}

.imgBtn {
    width: var(--size-img);
    height: var(--size-img);
}

.colorBtn {
    border-radius: var(--size-border);
    padding: calc(var(--base-space)*2);
    font-size: var(--size-font);
}

.blue {
    background-color: var(--color-blue);
}

.yellow {
    background-color: var(--color-yellow);
}

.pink {
    background-color: var(--color-pink);
    margin: 0;
}

.logo:hover, .btn:hover {
    transform: scale(1.1);
}

.items {
    width: 30%;
    height: 60%;
    padding: 0;
    overflow-y: scroll;
}

.item {
    display: flex;
    align-items: center;
    list-style: none;
    background-color: var(--color-white);
    border-radius: var(--size-border);
    margin-bottom: var(--base-space);
}

.item_thumbnail {
    width: var(--size-thumbnail);
    height: var(--size-thumbnail);
    margin: var(--base-space);
}

.item_description {
    font-size: var(--size-font);
    margin-left: bas;
}